APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:lbFbYQiWnQ76DBGF+2sWKdXYumiAaMXCzZnQysOsJ94=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=blog
DB_USERNAME=root
DB_PASSWORD=123

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_USERNAME=relphp@163.com
MAIL_PASSWORD=aswqd1234
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS = relphp@163.com
MAIL_FROM_NAME = Ryan

PUSHER_APP_ID = "523603"
PUSHER_KEY = "7598596b02094585116d"
PUSHER_SECRET = "048212730d4fbf219511"

